{{- $name  := promptStringOnce . "name"  "Name"  "rey" -}}
{{- $email := promptStringOnce . "email" "Email" "jmy1330@gmail.com" -}}
{{- $role  := promptChoiceOnce . "role"  "Role"  (list "desktop" "laptop") -}}

[data]
    name  = {{ $name  | quote }}
    email = {{ $email | quote }}
    role  = {{ $role  | quote }}

[git]
    autoCommit = false
    autoPush   = false
